@page
@model lab5.Pages.LstCompsModel
@{
    ViewData["Title"] = "Lista de Componentes";
}

<h1>Lista de Componentes</h1>
<a href="CreateComp" class="btn btn-primary">Adicionar Novo Componente</a>

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>Preço</th>
            <th>Descrição</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Components)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.CmpName</td>
                <td>@item.Price</td>
                <td>@item.Descr</td>
            </tr>
        }
    </tbody>
</table>
